h1{
    padding: 10px auto;
    text-align: center;
    margin: 20px 20px;
}



#tabla-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    width: 100%;
    
   
}
#tabla-contenido table td,
#tabla-contenido table th {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}




 .container2{
    text-align: center;
    justify-content: center;
    margin: 30px 30px;
}


h6{
    margin: 10px auto;
    text-align: center;
}

#center_text {
    text-align: center; /* Centra el texto horizontalmente */

    transform: translateY(-50%);
}

/* funcionamiento básico del sistema de pestañas */
.tab-content {
  display: none;
}

.tab:target .tab-content, .tab:last-of-type .tab-content {
  display: block;
}

.tab:target ~ .tab:last-of-type .tab-content {
  display: none;
}

