h1{
    padding: 10px auto;
    text-align: center;
    margin-bottom: 20px;
}


p{
    margin: 10px 10px;
}


#tabla-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    width: 100%;
    
   
}
#tabla-contenido table td,
#tabla-contenido table th {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}




 .container2{
    text-align: center;
    justify-content: center;
    margin: 30px 30px;
}


h6{
    margin: 10px auto;
    text-align: center;
}

#center_text {
    text-align: center; /* Centra el texto horizontalmente */

    transform: translateY(-50%);
}

/* funcionamiento básico del sistema de pestañas */
.tab-content {
  display: none;
}

.tab:target .tab-content, .tab:last-of-type .tab-content {
  display: block;
}

.tab:target ~ .tab:last-of-type .tab-content {
  display: none;
}




.ui-slider {
    background: rgba(52, 152, 219, 0.5); /* Cambia el color de fondo a azul (#3498db) */
    border: 1px solid #3498db; /* Cambia el color del borde a azul (#3498db) */
  }

  .ui-slider .ui-slider-handle {
    background: #2980b9; /* Cambia el color del control deslizante a azul más oscuro (#2980b9) */
    border: 2px solid #2980b9; /* Cambia el color del borde del control deslizante a azul más oscuro (#2980b9) */
  }

  


 /* Estilo para la barra de navegación */
.navbar {
  background-color: #3498db;
  width: 100%;
}

/* Estilo para los elementos de la lista (cada sección) */
.nav-item {
  border-right: 1px solid #fff; /* Línea divisoria entre secciones */
}

/* Estilo para los enlaces de navegación */
.nav-link {
  color: #fff;
  padding: 10px 15px;
  border-radius: 0; /* Eliminar los bordes redondeados */
}

/* Estilo para el enlace activo (Home) */
.nav-link.active {
  background-color: transparent; /* Fondo transparente para el enlace activo */
  color: #fff;
  border-radius: 0; /* Eliminar los bordes redondeados */
}

/* Estilo para el botón del menú desplegable (hamburguesa) */
.navbar-toggler-icon {
  background-color: #fff;
  border-radius: 3px;
}

/* Estilo para el enlace del botón de hamburguesa cuando se abre el menú desplegable */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-color: #2980b9;
}

 
  
  
  