h1{
    padding: 10px auto;
    text-align: center;
    margin: 10px 10px;
}

#tabla-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    width: 100%;
    
   
}
#tabla-contenido table td,
#tabla-contenido table th {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}




 .container2{
    text-align: center;
    justify-content: center;
    margin: 30px 30px;
}


h6{
    margin: 10px auto;
    text-align: center;
}

#actionButtons {
    float: left;
    background-color: #f0f0f0; /* Color de fondo diferente */
    margin-right: 5px; /* Espacio a la derecha del div */
    width: auto;
    height: 100%;
}

#actionButtons .btn {
    display: block;
    margin-bottom: 5px 0; /* Espacio vertical entre botones */
}

#center_text {
    text-align: center; /* Centra el texto horizontalmente */
    transform: translateY(-50%);
}

